.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    /*
    if you scroll a bit and release it will snap to the top of the section
    if you scroll more than half of the section and release the scroll it will snap to the next section 
    */ 
    scroll-snap-type: y mandatory; 
    // ----------------------------------------------------
    // ----------------------------------------------------
    // hide scrollbar, but it still works normally
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }


    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}